<ul class="nav nav-tabs mt-4">
    <li class="nav-item">
        <a class="nav-link {% if current_menu is defined and current_menu == 'admin.index' %} active {% endif %}" aria-current="page" href="{{ path("admin.item.index") }}">Articles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if current_menu is defined and current_menu == 'admin.category.index' %} active {% endif %}" aria-current="page" href="{{ path("admin.category.index") }}">Catégories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if current_menu is defined and current_menu == 'admin.tag.index' %} active {% endif %}" aria-current="page" href="{{ path("admin.tag.index") }}">Tags</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if current_menu is defined and current_menu == 'admin.user.index' %} active {% endif %}" aria-current="page" href="{{ path("admin.user.index") }}">Utilisateurs</a>
    </li>
</ul>