{% extends "base.html.twig" %}

{% block title 'Créer une catégorie'%}
{% block body %}
    <div class="container mt-4">
        <h1>Créer la catégorie</h1>
        {{ include('admin/category/_form.html.twig', {form: form, button: 'Créer'}) }}

    </div>

   
       
    
       


{% endblock %}

{% block stylesheets %}


{% endblock %}

{% block javascripts %}

{% endblock %}